body {
  background-color: black;
}

.headimg {
  background-image: url(\wallpaperflare.com_wallpaper.jpg);
  margin-left: auto;
  margin-right: auto;
}

.name,
.headtxt,
.txt1 {
  margin-left: 4%;
}

.size{
  width: 30px;
  height: 30px;
}

.contact {
  margin-left: 4%;
}



@media only screen and (min-width: 200px) {
  .headimg {
    height: 568px;
    width: 100%;
  }

  .headtxt {
    margin-top: 5%;
    font-size: small;
  }
  .txt1 {
    margin-top: -4%;
    font-size: small;
  }

  .name {
    margin-top: 40%;
    font-size: x-large;
  }
}

@media only screen and (max-height: 823px) {
  .headimg {
    height: 823px;
    width: 100%;
  }

  .headtxt {
    margin-top: 5%;
    font-size: medium;
  }
  .txt1 {
    margin-top: -4%;
    font-size: medium;
  }

  .name {
    margin-top: 40%;
    font-size: xx-large;
  }
}

@media only screen and (max-height: 667px) {
  .headimg {
    height: 667px;
    width: 100%;
  }

  .headtxt {
    margin-top: 5%;
    font-size: medium;
  }
  .txt1 {
    margin-top: -4%;
    font-size: medium;
  }

  .name {
    margin-top: 40%;
    font-size: xx-large;
  }
}

@media only screen and (max-height: 736px) {
  .headimg {
    height: 736px;
    width: 100%;
  }

  .headtxt {
    margin-top: 5%;
    font-size: medium;
  }
  .txt1 {
    margin-top: -4%;
    font-size: medium;
  }

  .name {
    margin-top: 40%;
    font-size: xx-large;
  }
}

@media only screen and (max-height: 1024px) {
  .headimg {
    height: 750px;
    width: 100%;
  }

  .headtxt {
    margin-top: 5%;
    font-size: medium;
  }
  .txt1 {
    margin-top: 1%;
    font-size: medium;
  }

  .name {
    margin-top: 10%;
    font-size: xx-large;
  }
}

@media only screen and (max-height: 13664px) {
  .headimg {
    height: 750px;
    width: 100%;
  }

  .headtxt {
    margin-top: 5%;
    font-size: medium;
  }
  .txt1 {
    margin-top: 1%;
    font-size: medium;
  }

  .name {
    margin-top: 10%;
    font-size: xx-large;
  }
}

